@font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/futura-light.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/futura-book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/futura-medium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}