@use '../../styles/global/_mixins' as mixins;

.header {
	
	width: 100%;
	padding: 1.8rem 0;

	&__icon {
		width: auto;
		height: auto;
	}

	&__logo {
		height: 2.4rem;
	}
}

.header-cart {
	&__quantity {
    font-size: 0.9rem;
    padding: 0.2rem 0.45rem;
    border-radius: 20px;
    background-color: var(--color-yellow-metal);
	}

	&:hover {
	  border: 1px solid var(--color-yellow-metal);
	}
}