<header class="header">
	<div class="header__container container flex space-between items-center">
		<img src="../../assets/images/flamingo-logo.png" alt="Flamingo logo" class="header__logo">

		<ul class="header__controls flex">
			<li class="header__button">
				<button 
					class="header__cart-button btn-reset flex flex-end items-center yellow-metal"
					aria-label="Open the cart"
					routerLink="cart"
				>
					<mat-icon class="header__icon">shopping_cart</mat-icon>
					<span class="header-cart__quantity white medium">
						{{ (shop$ | async).cart | quantityAll }}
					</span>
				</button>
			</li>
			<li class="header__button">
				<button class="header__search-button btn-reset yellow-metal" aria-label="Search">
					<mat-icon class="header__icon">search</mat-icon>
				</button>
			</li>
		</ul>
	</div>
</header>
