<footer class="footer">
	<div class="footer__container container flex flex-column items-center white light">
		<button class="footer__button btn-reset flex flex-column items-center white">
			<mat-icon class="footer__icon">keyboard_arrow_up</mat-icon>
			Top
		</button>
		<a class="footer__link" href="#">FAQ</a>
		<a class="footer__link" href="#">Shipping and Returns</a>
		<a class="footer__link" href="#">Terms and Conditions</a>
		<ul class="footer__socials socials flex space-between">
			<li class="socials__item">
				<mat-icon class="socials__icon">facebook</mat-icon>
			</li>
			<li class="socials__item">
				<mat-icon class="socials__icon">facebook</mat-icon>
			</li>
			<li class="socials__item">
				<mat-icon class="socials__icon">facebook</mat-icon>
			</li>
		</ul>
		<span class="footer__copyright">© 2023 by Flamingo Designs</span>
	</div>
</footer>