<section class="about">
	<div class="about__container container white">
		<h2 class="about__title main-title">About</h2>
		<p class="about__text light text-center">
			I'm a paragraph. Click here to add your own text and edit me. 
			It’s easy. Just click “Edit Text” or double click me to add 
			your own content and make changes to the font. Feel free 
			to drag and drop me anywhere you like on your page. 
			I’m a great place for you to tell a story and 
			let your users know a little more about you.
		</p>
		<ul class="about__qualities qualities flex flex-wrap space-between">
			<li class="qualities__item quality flex flex-column items-center">
				<mat-icon class="quality__icon">bubble_chart</mat-icon>
				<span class="quality__name">Organic</span>
			</li>
			<li class="qualities__item quality flex flex-column items-center">
				<mat-icon class="quality__icon">bubble_chart</mat-icon>
				<span class="quality__name">100% Cotton</span>
			</li>
			<li class="qualities__item quality flex flex-column items-center">
				<mat-icon class="quality__icon">bubble_chart</mat-icon>
				<span class="quality__name">Waterproof</span>
			</li>
			<li class="qualities__item quality flex flex-column items-center">
				<mat-icon class="quality__icon">bubble_chart</mat-icon>
				<span class="quality__name">Washable</span>
			</li>
		</ul>
	</div>
	<div class="overlay bg-reset"></div>
</section>
