<div class="cart-product flex items-center space-between relative">
	<button 
			class="cart-product__close-button btn-reset black"
			aria-label="Remove product from cart"
		>
		<mat-icon class="cart__icon">close</mat-icon>
	</button>

    <img 
    	src="https://31il.cyou/images/product-image-11.jpeg" 
    	alt="product"
    	class="cart-product__image"
    >

    <span class="cart-product__name">Product</span>

    <div class="cart-product__counter counter flex space-between items-center">
	   	<button class="counter__minus-button btn-reset">
	   		<mat-icon class="counter__icon">remove</mat-icon>
	   	</button>
	   	<span class="counter__amount">1</span>
	   	<button class="counter__plus-button btn-reset">
	   		<mat-icon class="counter__icon">add</mat-icon>
	   	</button>
	</div>

	<span class="cart-product__cost">&#36;20.00</span>
</div>
