<section class="contact">
	<div class="contact__container container contact-container yellow-metal">
		<h3 class="contact__title main-title">Contact Me</h3>
		<span class="contact__info text-center">123-456-7890 / info@mysite.com</span>
		<span class="contact__info text-center">500 Terry Francois Street San Francisco, CA 94158</span>

		<form class="contact__form flex flex-column flex-wrap relative">
			<label for="first-name" class="contact__label">First Name</label>
	  		<input type="text" id="first-name" name="first-name" class="contact__input main-input">

	  		<label for="last-name" class="contact__label">Last Name</label>
	 		<input type="text" id="last-name" name="last-name" class="contact__input main-input">

	 		<label for="email" class="contact__label">Email</label>
	 		<input type="text" id="email" name="email" class="contact__input main-input">

	 		<label for="subject" class="contact__label">Subject</label>
	 		<input type="text" id="subject" name="subject" class="contact__input main-input">
			
			<label for="message" class="contact__label">Message</label>
	  		<textarea 
	  			type="text" 
	  			id="message" 
	  			name="message" 
	  			class="contact__input contact__input--message main-input" 
	  			rows="11" 
	  			wrap="hard"
	  		></textarea>

	  		<button class="contact__submit-button btn-reset main-button">
				Submit
			</button>
		</form>
	</div>
</section>