<section class="cart">
	<div class="cart-overlay"></div>
	<div class="cart__container window-container flex flex-column flex-wrap yellow-metal">
		<button 
			class="cart__close-button btn-reset black"
			aria-label="Close"
			routerLink="root"
		>
			<mat-icon class="cart__icon">close</mat-icon>
		</button>

		<span class="cart__section">My cart</span>

		<ul class="cart__products products">
			<li class="products__item">
				
			</li>
		</ul>

		<span class="cart__section cart__section--underlined">Order summary</span>

		<article class="cart__line cart-line flex space-between">
			<span class="cart-line__name">Subtotal</span>
			<span class="cart-line__value">&#36;0.00</span>
		</article>

		<article class="cart__line cart-line flex space-between">
			<span class="cart-line__name">Total</span>
			<span class="cart-line__value">&#36;0.00</span>
		</article>

		<button class="cart__checkout-button btn-reset white semi-bold">Checkout</button>
	</div>
</section>
