@use '../../styles/global/_mixins' as mixins;

.cart {
	&-overlay {
		position: fixed;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.2);
	}

	&__container {
		width: 50%;
		height: 79%;
		padding: 2rem;
		padding-top: 6rem;
		align-content: space-between;

		@include mixins.for-tablet {    
			width: 90%;
			height: 85%;
	 	}

	 	@include mixins.for-phone {    
			width: 95%;
			height: 80%;
			padding-top: 3rem;
			flex-wrap: nowrap;
			overflow: scroll;
	 	}
	}

	&__close-button {
		position: absolute;
		right: 1rem;
		top: 1.2rem;
	}

	&__icon {
		width: auto;
		height: auto;
		font-size: 2rem;
	}

	&__section {
		display: block;
		max-width: 50%;
		font-size: 1.8rem;
		padding-bottom: 1rem;

		@include mixins.for-phone {    
			width: 100%;
	 	}

		&--underlined {
			border-bottom: 2px solid rgba(0, 0, 0, 0.2);

			@include mixins.for-phone {    
				display: none;
		 	}
		}
	}

	&__products	{
		width: 65%;
		height: 90%;
		border: 2px solid rgba(0, 0, 0, 0.2);
		border-left: none;
		border-bottom: none;

		@include mixins.for-phone {    
			width: 100%;
			height: 70%;
	 	}
	}

	&__line {
		width: 32%;

		@include mixins.for-phone {    
			width: 100%;
	 	}
	}

	&__checkout-button {
		max-width: 100%;
		padding: 0.6rem 0;
		background-color: var(--color-yellow-metal);
		margin-top: 4rem;

		@include mixins.for-phone {    
			margin-top: 2rem;
	 	}
	}
}

.cart-line {
	padding-bottom: 0.2rem;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	margin-top: 2.6rem;

	@include mixins.for-phone {    
		margin-top: 1rem;
 	}

	&__name, &__value {
		font-size: 1.4rem;
	}

	&__value {
		font-size: 1.4rem;
	}
}