<div class="shop-product flex flex-column items-center">
    <img 
    	src="../../../assets/images/product-image-1m.jpeg" 
    	alt="product image"
    	class="shop-product__image"
    >
    
    <span class="shop-product__name">I'm a Product</span>
    <span class="shop-product__cost">&#36; 20.00</span>

    <div class="shop-product__counter counter flex space-between items-center">
    	<button class="counter__minus-button btn-reset">
    		<mat-icon class="counter__icon">remove</mat-icon>
    	</button>
    	<span class="counter__amount">1</span>
    	<button class="counter__plus-button btn-reset">
    		<mat-icon class="counter__icon">add</mat-icon>
    	</button>
    </div>

    <button class="shop-product__add-button btn-reset white semi-bold">Add to Cart</button>
</div>
