<section class="product">
	<div class="product-overlay"></div>
	<div 
		class="product__container window-container flex space-between yellow-metal"
		*ngIf="(data$ | async)['product'] as product"
	>
		<button 
			class="product__close-button btn-reset black"
			aria-label="Close"
			routerLink="root"
		>
			<mat-icon class="product__icon">close</mat-icon>
		</button>

		<div class="product-cw-1 flex flex-column">
			<app-product-slider
				[images]="product.images"
			></app-product-slider>
			<p class="product__text">{{ product.description }}</p>
		</div>
		<div class="product-cw-2 flex flex-column">
			<span class="product__name">{{ product.name }}</span>
			<span class="product__id">SKU: {{ product.id }}</span>
			<span class="product__cost">&#36;{{ product.price | number: '1.2-2' }}</span>

			<div class="product__counter counter flex space-between items-center">
		    	<button class="counter__minus-button btn-reset">
		    		<mat-icon class="counter__icon">remove</mat-icon>
		    	</button>
		    	<span class="counter__amount">1</span>
		    	<button class="counter__plus-button btn-reset">
		    		<mat-icon class="counter__icon">add</mat-icon>
		    	</button>
		    </div>

			<button class="product__add-button btn-reset white semi-bold">Add to Cart</button>

			<span class="product__section bold">Product Info</span>
			<p class="product__text">
				I'm a product detail. I'm a great place to add more information 
				about your product such as sizing, material, care and cleaning 
				instructions. This is also a great space to write what makes 
				this product special and how your customers can benefit from 
				this item. Buyers like to know what they’re getting before 
				they purchase, so give them as much information as possible 
				so they can buy with confidence and certainty.
			</p>

			<span class="product__section bold">Return and Refund Policy</span>
			<p class="product__text">
				I’m a Return and Refund policy. I’m a great place 
				to let your customers know what to do in case 
				they are dissatisfied with their purchase. 
				Having a straightforward refund or exchange 
				policy is a great way to build trust and reassure 
				your customers that they can buy with confidence.
			</p>
		</div>
	</div>
</section>
