@use '../../styles/global/_mixins' as mixins;

.shop {

	&__container {
		padding: 8rem 0;
	}

	&__title {
		margin-bottom: 3rem;
	}

	&__products {
		width: 85%;
		margin: 0 auto;
	}	
}

.products {
	&__item {
		width: 32%;
		margin-bottom: 1rem;

		@include mixins.for-phone {    
		 	width: 100%;
		}

		@include mixins.for-tablet {    
		 	width: 49%;
		}
	}
}