<section class="shop">
	<div class="shop__container container">
		<h2 class="shop__title main-title yellow-metal">Shop</h2>

		<ul class="shop__products products flex space-between flex-wrap">
			<li class="products__item"></li>
			<li class="products__item"></li>
			<li class="products__item"></li>
			<li class="products__item"></li>
			<li class="products__item"></li>
			<li class="products__item"></li>
			<li class="products__item"></li>
			<li class="products__item"></li>
			<li class="products__item"></li>
		</ul>
	</div>
</section>
