<section class="search">
	<div class="search-overlay"></div>
	<div class="search__container window-container flex flex-column items-center">
		<button 
			class="search__close-button btn-reset black"
			aria-label="Close"
			routerLink="root"
		>
			<mat-icon class="product__icon">close</mat-icon>
		</button>
		<label for="search-input" class="search__label not-visible">Search</label>
		<input 
			type="text" 
			id="search-input" 
			class="search__input"
			placeholder="Search..." 
		>
	</div>
</section>
